body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #2e3b4e;
    color: white;
    padding: 20px;
    text-align: center;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #2e3b4e;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}
